<!DOCTYPE html>
<html>
    <head>
        <title>Check Flight</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="{{ url_for('index') }}">Project Site</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('flights') }}">Check Flight</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('itineraryInput')}}">Create Itinerary</a>
              </li>
              {% if g.user %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{g.user['username']}}
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                          </a>
                        </div>
                {% else %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                  </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a>
                          <a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a>
                          </a>
                        </div>
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
    <body>
        <form method="post">
            <div>
                <div class="container">
                    <h1 align="left">Flight Input</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Select Departure</label>
                            <select name="origin" data-live-search="true" id="origin" class="form-control" title="Select Departure" required>
                            {% for key in flightInputDict %}
                            <option value="{{key}}">{{flightInputDict[key]}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>Select Destination</label>
                            <select name="destination" data-live-search="true" id="destination" class="form-control" title="Select Destination" required>
                            {% for key in flightInputDict %}
                            <option value="{{key}}">{{flightInputDict[key]}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="airline">Choose an airline:</label>
                            <select name="airline" id="airline" required data-live-search="true" class="form-control" title="Select Airline" required>
                            {% for key in airlineDict %}
                            <option value="{{key}}">{{key}}</option>
                            {% endfor %}
                            </select>
                    </div>
                    <div>
                        <label for="date">Departure date and time:</label>
                        <input type="datetime-local" class="form-control" name="date" id="date" value="date" required>
                    <div>
                        <label for="arrivalTime">Estimated arrival time:</label>
                        <input type="datetime-local" class="form-control" name="arrivalTime" id="arrivalTime" value="arrivalTime" required>
                    </div>
                    <div>
                        <input type="submit" value="Check my flight">
                    </div>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $("#origin").selectpicker();
                        $("#destination").selectpicker();
                        $("#airline").selectpicker();
                    });
                </script>
            </div>
        </form>
    </body>
</html>

