{% extends 'base.html' %}

{% block header%}
    <h1>{% block title %}Flight Information{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <h3>Origin</h3>
            <p>{{origin}}</p>
        <h3>Destination</h3>
            <p>{{destination}}
        <h3>Airline</h3>
            <p>{{airline}}
        <h3>Date and Time</h3>
            <p>{{date}}
        <h3>Arrival Time</h3>
            <p>{{arrivalTime}}
            <p>
        <button id="Enter" type="button" onclick="window.location.href = '{{ url_for('index') }}' ; " class="button">Main</button>
        <button id="enterItin" type="button" onclick="window.location.href = '{{ url_for('itineraryInput') }}' ; " class="button">Place in itinerary</button>
    </form>
{%endblock%}



