{% extends 'base.html'%}

{% block header%}
    <h1>{%block title%}Your itinerary{%endblock%}
{%endblock%}

{%block content%}
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
      {% for key, value in flightDict.items() %}
       <tr>
           <td> {{ key }} </td>
           <td> {{ value }} </td>
       </tr>
      {% endfor %}
      </tbody>
    </table>
    <form method="post">
        
        <button id="Enter" type="button" onclick="window.location.href = '{{ url_for('index') }}' ; " class="button">Main</button>
        
        {% if g.user %}
            <button id="saveItin" type="button" onclick="window.location.href = '{{ url_for('index') }}' ; " class="button">Save my itinerary</button>
        {% endif %}


{%endblock%}

