{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Travel Plan{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="origin">Departing from:</label>
    <input name="origin" id="origin" value="{{ request.form['origin'] }}" required>
    <label for="destination">Final destination:</label>
    <input name="destination" id="destination" value="{{ request.form['destination'] }}" required>
    <label for="date">Departure date:</label>
    <input type="date" name="date" id="date" value="{{ request.form['date'] }}" required>
    <label for="direct">Direct flight required (if possible):</label>
    <div>
        Yes: <input id="chkDirectY" name="chkDirect" type="radio" value="directYes" class="radio">
        No: <input id="chkDirectN" name="chkDirect" type="radio" value="directNo" class="radio">
    </div>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
